target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Ignore socket files
*.sock

# Ignore database data files
mongo-data/*
mysql_keycloak_data/*

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore IDE-specific files
.idea/

# Ignore compiled class files and binaries
api-gateway/bin/
discovery-server/bin/
inventory-service/bin/
order-services/bin/
product-service/bin/

# Ignore database files
grafana/grafana.db

# Other common files to ignore
*.log
*.tmp
*.swp
*.bak
*.class
*.jar
*.war
*.ear

dist/
node_modules/
.env
.DS_Store

### VS Code ###
.vscode/

### Mac OS ###
